* {
    font-family: 'Poppins', sans-serif;
}

body {

}
p{
  margin: 0 !important;
}

.font-13{
  font-size: 13px;
}

.font-14{
  font-size: 14px;
}

.font-15{
  font-size: 15px;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.input-search {
    outline: none !important;
    width: 400px;
    font-size: 15px;
    border-radius: 20px;
}

.nav-link {
    font-size: 15px !important;
}

.dropdown-item {
    font-size: 13.5px !important;
    font-weight: 300;
    padding: 10px;
}

.image-profile {
    width: 40px;
    height: 40px;
    object-fit: contain;
}

.home.container-fluid {
    margin-top: 3.6rem !important;
}

.home.container{
    margin-top: 4rem !important;
}

.primary-button{
  background: #fff;
  color: #1088A0;
  border: #1088A0 1px solid;
  font-size: 15px;
  padding: 10px 20px 10px 20px;
  border-radius: 10px;
  outline: none;
  transition: 0.5s all;
}

.primary-button:hover{
  background: #1088A0;
  color: #fff;
  border: #fff 1px solid;
}
.subtext {
    color: #606060;
}

.mt-100 {
    margin-top: 100px;
}

.mt-50 {
    margin-top: 50px;
}
