.profile{

}

.profile .bio-profile{
    /* gap: 20px; */
}

.profile .bio-profile .image img{
    width: 135px;
}

.profile .bio-profile .user-profile .name{
    gap: 10px;
}

.profile .bio-profile .user-profile .name p{
    font-size: 18px;
    font-weight: 600;
}

.profile .bio-profile .user-profile .info{
    gap: 10px;
}
.sidebar {
    overflow: hidden;
    height: 89vh;
}

.sidebar .option {
    max-height: 77vh;
    overflow-y: auto;
}

.content {
    max-height: 90vh;
    overflow-y: auto;
}

.head_kategori {
    font-size: 24px;
    font-weight: 600;
}

.item-option {
    font-weight: 500;
    font-size: 15px;
}

.child_item {
    font-size: 14px;
}

.banner-item-post {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.1);
    align-items: flex-end;
    cursor: pointer;
}

.banner-item-post p {
    font-size: 14px;
    font-weight: 500;
    color: white;
    margin: 0;
    margin-bottom: -80px;
}

.box-image:hover img {
    transform: scale(1.25);
    transition: all 1.5s;
}
.box-image:hover .banner-item-post p {
    margin: 0;
    transition: all 1s;
}

.grid-item {
    width: 265px;
    margin-bottom: 10px;
}
.grid-item--width2{
    width: 500px;
    overflow: hidden;
}

.grid-item img {
    width: 100%;
}

.link-kategori {
    color: #000;
    font-weight: 500;
}

.link-kategori:hover {
    color: #1088a0;
    transition: all 0.5s;
}

.banner-item-post:hover {
    background: rgba(0, 0, 0, 0.336);
}

.video-js {
    width: 100% !important;
    /* height: auto !important; */
}

.image-js {
    width: 100% !important;
    /* height: auto !important; */
}